extends common/layout

block content

  div(class="d-flex justify-content-center")
    h1= title
  h2 Submit New
  p Make requests for tooling and process improvements within Fraudtech
  form(action=url, method="POST")

    //- Field - DB: user | Form: logon
    input(type="hidden", id="logon", name="logon", value=e.logon)

    //- Field - DB: feature | Form: sel1
    input(type="hidden", id="sel1", name="sel1", value=e.sel1)
    
    //- Field - DB: usageNumbers | Form: quantity
    input(type="hidden", id="quantity", name="quantity", value=e.quantity)
    
    //- Field - DB: description | Form: describe
    if prefill
      textarea.form-control(id="describe", name="describe", rows="10", placeholder="Please describe the enhancement...", required) #{prefill.description}
    else
      
      textarea.form-control(id="describe", name="describe", rows="10", placeholder="Please describe the enhancement...", required)
    br
      
      //- Field - DB: NA | Form: attachment
    label Please attach any supporting documents
    br
    input.form-control-file(name="attachment", type="file", maxlength=50, allow="text/*")
    br
      
    //- Submit
    div(class="d-flex justify-content-center")
      button(class="btn btn-primary", type="submit") Submit
    br
